:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --description-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --background-color-grey: #f5f4fa;
  --background-color-black: #2f303a;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --btn-hover-focus-color: #188ce8;
  --card-set-gap: 30px;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-title-color);
  color: var(--description-color);
}

/* reset start */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* reset end */

/* header */

.header {
  border: 1px solid #ececec;
  border-left: none;
  border-top: none;
  border-right: none;
}

.header-container {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
  margin-right: 93px;
}

.logo-header {
  color: var(--logo-color);
}

.mail-icon,
.tel-icon {
  fill: currentColor;
  margin-right: 10px;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);

  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}


.link.current::after{
 content: "";
 display: block;

 position: absolute;
 width: 100%;
 height: 4px;
 bottom: -1px;


 border-radius: 2px;

 background-color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-list .link.current {
  color: var(--accent-color);

  
}

.nav-list {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-list {
  margin-left: auto;
  display: flex;
  gap: 50px;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--description-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--description-color);
}

/* hero */

.overlay-hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero/Img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section {
  background-color: var(--background-color-black);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.btn-hero {
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background: var(--accent-color);
  cursor: pointer;
  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: var(--btn-hover-focus-color);
}

/* benefins */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.icons-wrapper {
  width: 270px;
  height: 120px;
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits-card {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
}

.benefits-list {
  display: flex;
  margin-left: calc(-1 * var(--card-set-gap));
}

.works-section {
  padding-bottom: 94px;
}

.benefits-title {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.benefits-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--description-color);
}

/* works */

.works-title,
.staf-title,
.clients-title {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  text-align: center;
}
.list-works {
  display: flex;
  margin-left: calc(-1 * var(--card-set-gap));
}

.works-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);

  position: relative;
}

.overlay{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.overlay-text{
  font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color:var(--main-title-color);
}


/* staff */

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-top: 16px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}

.socials-icon {
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: #ffffff;
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}

.staff-list {
  display: flex;
  margin-left: calc(-1 * var(--card-set-gap));
}

.staff-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
.staff-section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.staff {
  background-color: var(--background-color-grey);
}

.staff-card {
  flex-basis: calc(100 % / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  background-color: var(--main-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.staff-name {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  text-align: center;
}
.staff-profession {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--description-color);
  text-align: center;
}

/* Clients */

.clients-section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.list-clients {
  display: flex;
  gap: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  color: #afb1b8;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}

.logo-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

/* footer */

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--background-color-black);
}
.logo-footer {
  color: var(--main-title-color);
}

.address-wrapper {
  margin-top: 20px;
}

.list-footer:not(:last-child) {
  margin-bottom: 9px;
}

.footer-mail,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
  font-style: normal;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus{
  color: var(--accent-color);
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  font-style: normal;
  
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}

.address:hover,
.address:focus{
  color: var(--accent-color);
}

.footer-socials {
  box-sizing: border-box;
  margin-left: 70px;
   margin-right: auto;
}

.socials-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}

.socials-icon-footer {
  fill: var(--main-title-color);
}

.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: var(--accent-color);
}

.footer-socials-list {
  display: flex;
  gap: 10px;
}

.footer-title,
.mailing-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}



.mailing-list{
  display: flex;
  align-items: center;
  gap: 12px;
}

.mailing-list-group-field{
  width: 358px;
}

.mailing-list-field{
  width: 100%;
  padding: 15px 16px;

  color: var(--main-title-color);
  outline: unset;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

    outline: 1px solid transparent;
    outline-offset: -1px;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

 .mailing-list-field:hover, 
.mailing-list-field:focus {
  outline-color: var(--accent-color) ;
}



.maling-list-field::placeholder{
  font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    
  
    color: rgba(255, 255, 255, 0.6);
}

.btn-send{
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 10px 28px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
    background: var(--accent-color);
    cursor: pointer;
    border: none;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:hover,
.btn-send:focus{
 background-color: var(--btn-hover-focus-color);
}

 
.mailing-icon{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    
} 


/* Modal Window */

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 150ms linear, visibility 150ms linear;
}

.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal{
  position: absolute;

  top:50%;
  left: 50%;
  padding: 40px;

  transform: translateX(-50%) translateY(-50%);

  width: 528px;
  min-height: 581px;
  background-color: var(--main-title-color);

  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 300ms opacity 300ms;

}

.modal.modal-animation{
  animation: swirl-in-fwd 0.6s both ease-out;
}

/* .backdrop.is-hidden .modal{
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
} */

.modal-btn{
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--main-title-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon:hover{
  fill: var(--accent-color);
}

.modal-label{
  display: block;
  margin-bottom: 12px;
  text-align: center;

   font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
  
    color: #212121;
}

.modal-form-label{
  display: block;
  font-size: 12px;
  margin-bottom: 4px;

  font-weight: 400;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-group{
  margin-bottom: 20px;
}

.modal-form-wrapper{
  position: relative;
  margin-bottom: 10px;
}

.modal-form-field{
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field:hover,
.modal-form-field:focus{
  outline-color: var(--accent-color);
}

.modal-form-icon{
  position: absolute;
  top: 50%;
  left: 12px;
 

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field:hover + .modal-form-icon,
 .modal-form-field:focus + .modal-form-icon{
 fill: var(--accent-color);
}

.modal-form-massage{
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  resize: none;

  outline: 1px solid transparent;
  outline-offset: -1px;


  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-massage::placeholder{
  font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-massage:hover,
.modal-form-massage:focus{
outline-color: var(--accent-color);
}

.modal-form-btn{
  border-radius: 4px;
    display: block;
    padding: 10px 52px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
    background: var(--accent-color);
    cursor: pointer;
    border: none;
    margin: 0 auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-btn:hover{
  background-color: var(--btn-hover-focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form-agreement{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.modal-form-agreement-desc{
  font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  
    letter-spacing: 0.03em;

    user-select: none;
  
    color: #757575;
}

.modal-form-checkbox{
  appearance: none;
  width: 16px;
  height: 15px;

  outline: 2px solid transparent;
  outline-offset: -2px;
  border: 2px solid #212121;
  border-radius: 2px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;

  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  
  transition:background-size 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked{
  outline-color:var(--accent-color);
  background-color: var(--accent-color);
  background-size: 11px 8px;
}

.modal-form-agreement-link{
  color: var(--accent-color);
  text-underline-position: under;
}

/* portfolio */

.btn-works-wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
}

.btn-works {
  flex-basis: calc(100% / - var(--card-set-gap));
  border-radius: 4px;
  padding: 6px 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  background: var(--background-color-grey);
  border: none;
  cursor: pointer;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-works:hover,
.btn-works:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-bottom: 94px;
  margin-left: calc(-1 * var(--card-set-gap));
}


.card-thumb{
  position: relative;
  overflow: hidden;
}

.overlay-card{
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;

  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms;

  user-select: none;

}

.works-card:hover .overlay-card{
  transform: translateY(0);
}

.overlay-card-text{
  font-weight: 400;
    font-size: 18px;
    line-height: calc(28/18);
  
    letter-spacing: 0.03em;
  
    color: var(--main-title-color);
}

.works-card {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  background-color: var(--main-title-color);
}

.card-wrapper {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  /* border-top: none; */
}

 .card-link{
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
} 

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.job-title {
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}
.work-description {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--description-color);
}


@keyframes swirl-in-fwd {
  0% {
    transform: translate(-50%, -50%) rotate(-540deg) scale(0);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) rotate(0) scale(1);
    opacity: 1;
  }
}