.clients__section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.clients__title {
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
    text-align: center;
}

.clients__list {
    display: flex;
    gap: 30px;
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    color: #afb1b8;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}