:root {
    --main-title-color: #ffffff;
    --secondary-title-color: #212121;
    --description-color: #757575;
    --accent-color: #2196f3;
    --logo-color: #000000;
    --background-color-grey: #f5f4fa;
    --background-color-black: #2f303a;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --btn-hover-focus-color: #188ce8;
    --card-set-gap: 30px;
}